---
layout: default
title: Accueil
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{% assign m = post.date | date: "%-m" %}
{{ page.post | date: "%-d" }}
{% case m %}
  {% when '1' %}Janvier
  {% when '2' %}Fevrier
  {% when '3' %}Mars
  {% when '4' %}Avril
  {% when '5' %}Mai
  {% when '6' %}Juin
  {% when '7' %}Juillet
  {% when '8' %}Août
  {% when '9' %}Septembre
  {% when '10' %}Octobre
  {% when '11' %}Novembre
  {% when '12' %}Décember
{% endcase %}
{{ page.post | date: "%Y" }}
  
    {% if page.comments %}
  • <a href="{{ site.url }}/{{ page.url }}#disqus_thread" data-disqus-identifier="{{ site.disqus_shortname }}">0 Commentaires</a>
          {% endif %}</span>
    

    {{ post.content | strip_html | truncatewords: 50 }} 
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Suivant</a>
  {% else %}
    <span class="pagination-item older">Suivant</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Précédent</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Précédent</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Précédent</span>
  {% endif %}
</div>
