@import "https://cdn.jsdelivr.net/knacss/4.4.0/knacss.css"

.logo {
    text-align: center;
    width: 100%;
}

.social {
    text-align: center;
}

.icon {
    color: #ffffff;
    padding: 5px;
    border-radius: 15px;
}

.github {
    background:gray;
}

.twitter {
    background: #55ACEE;
}

.linkedin {
    background: #0177B5;
}

.skype {
    background: #0cbadf;
}
