.logo {
    text-align: center;
    width: 100%;
}

.social {
    text-align: center;
}

.icon {
    color: #ffffff;
    padding: 6px 8px;
    border-radius: 17px;
}

.github {
    background:gray;
}

.twitter {
    background: #55ACEE;
}

.linkedin {
    background: #0177B5;
}

.skype {
    background: #0cbadf;
}

.contact .social-buttons {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.5em;
}

.contact .info {
    padding-top: 20px;
    font-size: 1.115em;
}

.full {
    flex: 0 0 auto;
    width: calc(100% / 1 - 0.01px);
}

.mbs {
    margin-bottom: 1rem;
}