<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.url }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.url }}public/css/hyde.css">
  <link rel="stylesheet" href="{{ site.url }}public/css/grillade.css">
  <link rel="stylesheet" href="{{ site.url }}public/css/main.css">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <script src="https://use.fontawesome.com/d164d0b195.js"></script>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/apple-touch-icon-144x144.png">
  <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css' rel='stylesheet' />
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  {% seo %}
  <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "name": "{{ site.author.name }}",
            "url": "http://www.olivermariejoseph.fr",
            "sameAs": ["http://instagram.com/{{ site.social.instagram }}",
                "http://www.linkedin.com/in/{{ site.social.linkedin }}",
                "https://www.viadeo.com/p/{{ site.social.viadeo }}"
                "http://plus.google.com/+{{ site.social.googleplus }}",
                "http:www.twitter.com/{{ site.social.googleplus }}"
            ]
        }
    </script>
</head>
