<section class="social_share">
    <div class="container nw1140p center txtcenter pam">
        <span><b>Partager sur :</b></span>
        <button class="share_button share_twitter" data-url="{{ site.url }}{{ page.url }}">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
        </button>
        <button class="share_button share_facebook" data-url="{{ site.url }}{{ page.url }}">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
        </button>
        <button class="share_button share_gplus" data-url="{{ site.url }}{{ page.url }}">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
        </button>
        <button class="share_button share_linkedin" data-url="{{ site.url }}{{ page.url }}">
                    <i class="fa fa-linkedin" aria-hidden="true"></i> 
        </button>
        <button class="share_button share_whatapp" data-url="{{ site.url }}{{ page.url }}">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </button>
        <button class="share_button share_reddit" data-url="{{ site.url }}{{ page.url }}">
            <i class="fa fa-reddit-alien" aria-hidden="true"></i> 
        </button>
        <button class="share_button share_pocket" data-url="{{ site.url }}{{ page.url }}">
            <i class="fa fa-get-pocket" aria-hidden="true"></i>
        </button>
        <button class="share_button share_email" data-url="{{ site.url }}{{ page.url }}">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>

        
    </div>
</section>